* {
    box-sizing: border-box;
    font-family: text-font;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

header img {
    height: 50vh;
    width: 100vw;
}

h1, h3, p {
    color: var(--text-white);
}

h1 {
    font-weight: normal;
    font-size: 2rem;
}

h3 {
    font-size: 0.75rem;
    font-weight: lighter;
}

h2 {
    color: var(--text-orange);
    font-size: 1rem;
    font-weight: lighter;
}

p {
    font-size: 1rem ;
}

main {
    margin: 20px;
}